.blockName {
  text-align: center;
}
.blockName_main {
  padding-left: 30px;
  text-align: center;
  flex: auto;
}
.blockName_side {
  display: grid;
  transform: rotate(90deg);
  grid-template-areas: 
  'number title';
  align-items: center;
  padding-left: 10px;
}
.blockName_bottom {
  display: grid;
  grid-template-areas: 
  'title'
  'number';
  gap: 15px;
  text-align: start;
  padding-left: 30px;
}
.blockName_importentUrgent {
  color: #000000;
  border-left: 1px dashed #4C3027;
}
.blockName_importentNotUrgent {
  color: #c3cab7;
  border-left: 1px dashed #c3cab7;
}
.blockName_notImportentUrgent {
  color: #000000;
  border-left: 1px dashed #4C3027;
}
.blockName_notImportentNotUrgent {
  color: #c3cab7;
  border-left: 1px dashed #c3cab7;
}

.blockName__title {
  font-size: 16px;
  line-height: 18px;
  margin: 0;
  grid-area: title;
}
.blockName__title_main {
  font-size: 24px;
  line-height: 26px;
}
.blockName__title_side {
  width: 200px;
}

.blockName__number {
  font-size: 24px;
  line-height: 26px;
  margin: 0;
  grid-area: number;
}
.blockName__number_main {
  font-size: 114px;
  line-height: 116px;
}

@media (max-width: 740px) {
  .blockName__number_main {
    font-size: 70px;
    line-height: 74px;
  }
  .blockName__title_main {
    font-size: 18px;
    line-height: 20px;
  }
  .blockName_bottom {
    gap: 10px;
  }
}

@media (max-width: 570px) {
  .blockName_main {
    text-align: inherit;
    padding-left: 0;
    border-left: none;
    border-bottom: 1px dashed #000000;
  }
  .blockName__title {
    font-size: 14px;
    line-height: 15px;
  }
}