.generalBlock {
  font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
  padding: 20px 30px;
}
.generalBlock_importentUrgent {
  background-color: #FFC1C2;
}
.generalBlock_importentNotUrgent {
  background-color: #F9E1B8;
}
.generalBlock_notImportentUrgent {
  background-color: #DFF2B3;
}
.generalBlock_notImportentNotUrgent {
  background-color: #B7D9FF;
}
.generalBlock_L {
  width: 98%;
  height: 60vh;
}
.generalBlock_M {
  width: 50%;
  height: 8vh;
}
.generalBlock_S {
  width: 2%;
  height: 60vh;
}

.generalBlock__main {
  display: flex;
  justify-content: space-between;
}

.generalBlock__link {
  text-decoration: none;
}