.blocksOnPage {
  width: 80vw;
  display: flex;
  align-items: flex-end;
}
.blocksOnPage:last-child {
  align-items: flex-start;
}

@media (max-width: 570px) {
  .blocksOnPage {
    width: 100vw;
  }
}